{% extends "base.html" %}

{% block content %}

<h1>Mes offres</h1>

<table class="table table-stripped">
  <tr>
    <th>Cagnotte</th><th>Proposition</th><th class="text-right">Prix</th>
    <th class="text-right">Validée</th><th class="text-right">Paiement reçu</th>
  </tr>
  {% for offre in offre_list %}
  <tr>
    <td>{{ offre.proposition.cagnotte.link }}</td><td>{{ offre.proposition.link }}</td>
    <td class="text-right">{{ offre.proposition.prix }} €</td>
    <td class="text-right">{{ offre.valide|yesno:"oui,non,pas encore" }}</td>
    <td class="text-right">{% if offre.valide %}{{ offre.paye|yesno }}{% endif %}</td>
  </tr>
  {% empty %}
  <tr><td colspan="5">Vous n’avez pas encore fait d’offres</td></tr>
  {% endfor %}
</table>

{% endblock %}
