{% extends "cagnottesolidaire/cagnotte_detail.html" %}
{% load ndh %}

{% block cagnotte_column %}

{% if cagnotte.image %}
<a href="{{ cagnotte.absolute_url }}">
  <img alt="image pour {{ cagnotte }}" src="{{ cagnotte.image.url }}" class="projp-det-im" />
</a>
<hr>
{% endif %}

<h2>Proposition: {{ proposition.link }}</h2>
<dl class="dl-horizontal">
  <dt>Responsable</dt>       <dd>{{ proposition.responsable_s }}</dd>
  <dt>Prix Min.</dt>         <dd>{{ proposition.prix }} €</dd>
  <dt>Bénéficiaires max.</dt>     <dd>{{ proposition.ben_s }}</dd>
  <dt>Offres (validées)</dt> <dd>{{ proposition.offres.0 }} ({{ proposition.offres.1 }})</dd>
</dl>
<p>{{ proposition.description|linebreaks }}</p>

{% endblock %}

{% block cagnotte_content %}

{% block proposition_content %}

<hr>
<p class="text-center">
{% if proposition.offrable %}
<a href="{% url 'cagnottesolidaire:offre_create' p_slug=cagnotte.slug slug=proposition.slug %}"
   type="button" class="btn btn-success btn-large">Faire une offre !</a>
{% else %}
Trop tard ! Il n’est plus possible de faire des offres sur cette proposition.
{% endif %}
</p>

{% if request.user.is_authenticated %}{% if request.user.is_staff or proposition.responsable == request.user %}
<hr>
<h2>Offres sur cette proposition</h2>

<table class="table table-stripped">
  <tr>
    <th>Personne</th><th class="text-right">Prix</th>
    <th>Validation</th><th>Paiement reçu</th>
    <th>Email</th><th>Remarques</th>
  </tr>
  {% for offre in proposition.offre_set.all %}
  <tr>
    <td>{% firstof offre.beneficiaire.get_full_name offre.beneficiaire_s %}</td>
    <td class="text-right">{{ offre.prix }} €</td>
    <td>
      {% if offre.valide == None %}
      <a type="button" class="btn btn-success btn-xs" href="{% url 'cagnottesolidaire:offre_ok' pk=offre.pk %}">Accepter</a>
      <a type="button" class="btn btn-danger btn-xs"   href="{% url 'cagnottesolidaire:offre_ko' pk=offre.pk %}">Refuser</a>
      {% else %}
      {{ offre.valide|yesno }}
      {% endif %}
    </td>
    <td>{% if offre.valide %}{{ offre.paye|yesno }}{% endif %}</td>
    <td>{% show_email offre.beneficiaire.email %}</td>
    <td>
      {% if offre.remarques %}
      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#rmqs-{{ offre.pk }}">Voir</a>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="5">Il n’y a pas encore d’offres</td></tr>
  {% endfor %}
</table>
<p>Récolté pour la cagnotte «{{ cagnotte.link }}»: {{ proposition.somme }} €</p>

{% for offre in proposition.offre_set.all %}{% if offre.remarques %}
<div class="modal fade" id="rmqs-{{ offre.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remarques pour l’offre {{ offre.pk }}</h4>
      </div>
      <div class="modal-body">
        {{ offre.remarques }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endif %}{% endfor %}

{% endif %}{% endif %}
{% endblock %}
{% endblock %}
