[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
pillow = "==6.2.0"  # Pinned to alpine 3.9's version

[dev-packages]
flake8 = "*"
python-coveralls = "*"
safety = "*"
yapf = "*"

[requires]
python_version = "3.7"
