Bonjour {{ offre.responsable_s }},

{{ offre.beneficiaire_s }} vient de faire une offre sur votre proposition
{{ offre.proposition }} de la cagnotte {{ offre.proposition.cagnotte }} !

{% if offre.remarques %}
Remarques à propos de cette offre:
> {{ offre.remarques }}
{% endif %}

Vous pouvez aller la valider sur:
<a href="{{ offre.get_full_url }}">{{ offre.get_full_url }}</a>

Bonne journée !


--

Ce message est automatique, il est inutile d’y répondre.

En cas de problème, vous pouvez contacter
webmaster@caracole.io
