{% extends "projets/proposition_detail.html" %}
{% load bootstrap3 %}

{% block proposition_content %}

<h2>Faire une offre sur «{{ proposition.link }}» (pour {{ projet.link }})</h2>

{% if count > 0 %}
<div class="alert alert-warning" role="alert">
  Attention, vous avez déjà fait <strong>{{ count }} offre{{ count|pluralize }}</strong> sur cette proposition !
</div>
{% endif %}


<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons layout="horizontal" %}
  <button type="submit" class="btn btn-success">Oui, je suis sûr !</button>
  <a href="{% url 'projets:proposition' p_slug=projet.slug slug=proposition.slug %}"
    type="button" class="btn btn-danger">Non</a>
  {% endbuttons %}
</form>


{% endblock %}
