{% extends "projets/proposition_detail.html" %}
{% load bootstrap3 %}

{% block proposition_content %}

<h2>Faire une offre sur {{ projet }} / {{ proposition }} pour {{ proposition.prix }} €</h2>

{# TODO style warning #}
{% if count > 0 %}
Attention, vous avez déjà fait {{ count }} offre{{ count|pluralize }} sur cette proposition !
{% endif %}


<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  {% buttons layout="horizontal" %}
  <a href="{% url 'projets:proposition' p_slug=projet.slug slug=proposition.slug %}"
    type="button" class="btn btn-warning">Non</a>
  <button type="submit" class="btn btn-success">Oui, je suis sûr !</button>
  {% endbuttons %}
</form>


{% endblock %}
