{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Cagnottes en cours</h1>

<div class="container">
  <div class="row">

    {% for projet in projet_list %}
    <div class="col-md-4">
      <div class="projp">
        <a href="{{ projet.absolute_url }}">
          <img alt="image pour {{ projet }}" src="{% if projet.image %}{{ projet.image.url }}{% else %}{% static 'img/blank.png' %}{% endif %}" />
        </a>
        <h2>{{ projet.link }}</h2>
        <hr>
        <p class="obj">{{ projet.objectif|linebreaksbr|truncatewords:20 }}</p>
        <p class="text-center"><a type="button" class="btn btn-success" href="{{ projet.absolute_url }}">Go »</a></p>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
    {% endfor %}

    {% if projet_list|length|divisibleby:"3" %}</div><div class="row">{% endif %}

    <div class="col-md-4">
      <div class="projp projp-new">
        <a href="{% url 'projets:projet_create' %}">
          <img alt="Nouvelle Cagnotte" src="{% static 'img/new.png' %}" />
          <h2>Nouvelle Cagnotte</h2>
        </a>
        <hr>
        <p class="obj">Vous aussi, créez votre cagnotte solidaire !</p>
        <p class="text-center"><a type="button" class="btn btn-success" href="{% url 'projets:projet_create' %}">Go »</a></p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
