{% extends "base.html" %}

{% block content %}

<h1>Détail !</h1>

<h2>{{ object }}</h2>

<dl class="dl-horizontal">
  <dt>Responsable</dt> <dd>{{ object.responsable }}</dd>
  <dt>Objectif</dt>    <dd>{{ object.objectif }}</dd>
  <dt>Finances</dt>    <dd>{{ object.finances }} €</dd>
  <dt>Fin Dépôt</dt>   <dd>{{ object.fin_depot }}</dd>
  <dt>Fin Achat</dt>   <dd>{{ object.fin_achat }}</dd>
</dl>

<ul>
  {% for proposition in object.proposition_set.all %}
  <li>{{ proposition }}{% if today < object.fin_achat %} - <a href="todo">Faire une offre</a>{% endif %}
  </li>
  {% endfor %}
</ul>

{% if today < object.fin_depot %}
<a href="todo">Ajouter une proposition</a>
{% endif %}

{% endblock %}
