{% extends "base.html" %}

{% block content %}

{% if object.jumbo %}
<div class="jumbotron">
  <h1>{{ object }}</h1> <img alt="jumbo img for {{ object }}" src="{{ object.jumbo.url }}" style="width: 100%;" />
</div>
{% else %}
  <h1>{{ object }}</h1>
{% endif %}

<dl class="dl-horizontal">
  <dt>Responsable</dt> <dd>{{ object.responsable }}</dd>
  <dt>Objectif</dt>    <dd>{{ object.objectif }}</dd>
  <dt>Finances</dt>    <dd>{{ object.finances }} €</dd>
  <dt>Fin Dépôt</dt>   <dd>{{ object.fin_depot }}</dd>
  <dt>Fin Achat</dt>   <dd>{{ object.fin_achat }}</dd>
</dl>

<ul>
  {% for proposition in object.proposition_set.all %}
  <li>{{ proposition }}{% if today < object.fin_achat %} - <a href="todo">Faire une offre</a>{% endif %}
  </li>
  {% endfor %}
</ul>

{% if today < object.fin_depot %}
<a href="todo">Ajouter une proposition</a>
{% endif %}

{% endblock %}
