{% extends "base.html" %}

{% block content %}

{% if projet.jumbo %}
<div class="jumbotron">
  <h1>{{ projet }}</h1> <img alt="jumbo img for {{ projet }}" src="{{ projet.jumbo.url }}" style="width: 100%;" />
</div>
{% else %}
  <h1>{{ projet }}</h1>
{% endif %}

<dl class="dl-horizontal">
  <dt>Responsable</dt> <dd>{{ projet.responsable }}</dd>
  <dt>Objectif</dt>    <dd>{{ projet.objectif }}</dd>
  <dt>Finances</dt>    <dd>{{ projet.finances }} €</dd>
  <dt>Fin Dépôt</dt>   <dd>{{ projet.fin_depot }}</dd>
  <dt>Fin Achat</dt>   <dd>{{ projet.fin_achat }}</dd>
</dl>

{% block projet_content %}

<ul>
  {% for proposition in projet.proposition_set.all %}
  <li>
    <a href="{% url 'projets:proposition' p_slug=projet.slug slug=proposition.slug %}">{{ proposition }}</a>
    {# TODO badge nombre de gens #}
  </li>
  {% endfor %}
</ul>

{% if today <= projet.fin_depot %}
<a href="{% url 'projets:proposition_create' slug=projet.slug %}">Ajouter une proposition</a>
{% endif %}

{% endblock %}

{% endblock %}
