{% extends "projets/projet_detail.html" %}

{% block projet_column %}

{% if projet.image %}
<a href="{{ projet.absolute_url }}">
  <img alt="image pour {{ projet }}" src="{{ projet.image.url }}" class="projp-det-im" />
</a>
<hr>
{% endif %}

<h2>{{ proposition.link }}</h2>
{# TODO badge #}
<dl class="dl-horizontal">
  <dt>Responsable</dt>   <dd>{{ proposition.responsable }}</dd>
  <dt>Prix</dt>          <dd>{{ proposition.prix }} €</dd>
  <dt>Bénéficiaires</dt> <dd>{% if proposition.beneficiaires == 0 %}∞{% else %}{{ proposition.beneficiaires }}{% endif %}</dd>
</dl>

{% endblock %}

{% block projet_content %}
<p>{{ proposition.description }}</p>

{% block proposition_content %}

{% if today <= projet.fin_achat %}
<p class="text-center"><a href="{% url 'projets:offre_create' p_slug=projet.slug slug=proposition.slug %}"
                          type="button" class="btn btn-success btn-large">Faire une offre !</a></p>
{% endif %}

<p class="text-right">
<a type="button" class="btn btn-info" href="{% url 'projets:projet' slug=projet.slug %}">← Retour au projet «{{ projet }}»</a>
</p>

{% if request.user.is_authenticated %}
{% if request.user.is_staff or proposition.responsable == request.user %}
<h2>Offres sur cette proposition</h2>
<ul>
  {% for offre in proposition.offre_set.all %}
  <li><a href="{% url 'projets:offre' pk=offre.pk %}">{{ offre.beneficiaire }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}
{% endblock %}
