{% extends "projets/projet_detail.html" %}

{% block projet_column %}

{% if projet.image %}
<a href="{{ projet.absolute_url }}">
  <img alt="image pour {{ projet }}" src="{{ projet.image.url }}" class="projp-det-im" />
</a>
<hr>
{% endif %}

<h2>Proposition: {{ proposition.link }}</h2>
<dl class="dl-horizontal">
  <dt>Responsable</dt>       <dd>{{ proposition.responsable_s }}</dd>
  <dt>Prix Min.</dt>         <dd>{{ proposition.prix }} €</dd>
  <dt>Bénéficiaires max.</dt>     <dd>{{ proposition.ben_s }}</dd>
  <dt>Offres (validées)</dt> <dd>{{ proposition.offres.0 }} ({{ proposition.offres.1 }})</dd>
</dl>
<p>{{ proposition.description }}</p>

{% endblock %}

{% block projet_content %}

{% block proposition_content %}

{% if today <= projet.fin_achat %}
<hr>
<p class="text-center"><a href="{% url 'projets:offre_create' p_slug=projet.slug slug=proposition.slug %}"
                          type="button" class="btn btn-success btn-large">Faire une offre !</a></p>
{% endif %}

{% if request.user.is_authenticated %}
{% if request.user.is_staff or proposition.responsable == request.user %}
<h2>Offres sur cette proposition</h2>

<table class="table table-stripped">
  <tr>
    <th>Personne</th><th class="text-right">Prix</th>
    <th>Validation</th><th>Paiement reçu</th>
    <th>Email</th>
  </tr>
  {% for offre in proposition.offre_set.all %}
  <tr>
    <td>{% firstof offre.beneficiaire.get_full_name offre.beneficiaire_s %}</td>
    <td class="text-right">{{ offre.prix }} €</td>
    <td>
      {% if offre.valide == None %}
      <a type="button" class="btn btn-success" href="{% url 'projets:offre_ok' pk=offre.pk %}">Accepter</a>
      <a type="button" class="btn btn-danger"   href="{% url 'projets:offre_ko' pk=offre.pk %}">Refuser</a>
      {% else %}
      {{ offre.valide|yesno }}
      {% endif %}
    </td>
    <td>{% if offre.valide %}{{ offre.paye|yesno }}{% endif %}</td>
    <td><a href="mailto:{{ offre.beneficiaire.email }}">{{ offre.beneficiaire.email }}</a></td>
  </tr>
  {% empty %}
  <tr><td colspan="5">Il n’y a pas encore d’offres</td></tr>
  {% endfor %}
</table>
<p>Récolté pour le projet «{{ projet.link }}»: {{ proposition.somme }} €</p>

{% endif %}
{% endif %}
{% endblock %}
{% endblock %}
