body { padding-top: 70px; padding-bottom: 20px; }

h1, h2 { text-align: center; }

.projp { border-radius: 10px; border: 1px solid grey; padding: 0 0 10px 0; margin-bottom: 30px; }
.projp h2 { margin-top: 10px; }
.projp img { border-radius: 10px 10px 0 0; width: 100%; height: 200px; }
.projp p { margin: 0 10px; }
.projp p.obj { height: 100px; overflow: hidden; text-overflow: ellipsis; }
.projp p.text-center { margin-top: 10px; }
.projp-new { background: #dff0d8; }


.projp-det-im { width: 100%; border-radius: 10px 10px 0 0; }
